* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.inactive {
  display: none;
}

/* Navbar */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.menu {
  cursor: pointer;
  font-size: 2rem;
}

.nav > .logo {
  width: 7%;
}

.nav-list {
  position: fixed;
  right: -100%;
  top: 0;
  background-color: #313131;
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: right 0.3s ease-in-out;
  z-index: 10;
}

.nav-item {
  margin-bottom: 3rem;
}

.nav-item > .nav-link {
  color: white;
  font-size: 1.7rem;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}

.nav-link:hover {
  color: #a1a1a1;
}

.news-btn {
  background-color: #494949;
  color: white;
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-weight: 500;
  font-size: 1.7rem;
  transition: background 0.3s ease-in-out;
  cursor: pointer;
}

.news-btn:hover {
  background-color: #636363;
}

.close {
  position: absolute;
  top: 3rem;
  right: 3rem;
  cursor: pointer;
  color: white;
  font-size: 2.5rem;
  transition: scale 0.2s ease-in-out;
}

.close:hover {
  scale: 1.2;
}

.dark-bg {
  background-color: #313131bb;
  width: 100%;
  height: 100%;
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
}

/* HOME */
.home {
  width: 90%;
  margin: 0 auto;
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(212, 212, 212, 0.2);
  /* height: 100%; */
  position: relative;
  text-align: center;
  border-radius: 1rem;
  padding: 3rem;
}
.home-container .home-img {
  width: 120%;
}

.text-content {
  margin-bottom: 10rem;
  color: #313131;
  margin-top: 1rem;
}

.new {
  font-size: 1.3rem;
  color: #0cb2bc;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
}

.subtitle {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 10px;
  margin-bottom: 1rem;
}

.price {
  color: #747474;
  margin-bottom: 3rem;
}

.more {
  color: #0cb2bc;
  font-size: 1.1rem;
  transition: color 0.3s ease-in-out;
}

.more i {
  font-size: 0.9rem;
  margin-right: 5rem;
}

.more:hover {
  color: #0a979e;
}

.buy {
  color: white;
  background-color: #0cb2bc;
  padding: 0.7rem 2rem;
  border-radius: 2rem;
  transition: background 0.3s ease-in-out;
}

.buy:hover {
  background-color: #0a979e;
}

/* MAC */
.mac {
  color: #313131;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.switch {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin-top: 2rem;
  position: relative;
}

.switch::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #c7c7c7;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 1rem;
}

.laptop,
.desktop {
  font-weight: 600;
  padding-bottom: 1rem;
}

.laptop {
  margin-right: 2rem;
  border-bottom: solid 2px #313131;
}

.product {
  background-color: rgba(212, 212, 212, 0.2);
  width: 90%;
  /* height: 40rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 4rem auto;
  padding: 3rem 0;
  border-radius: 1rem;
}

.product .product-img {
  width: 70%;
}

.product-title {
  font-size: 3rem;
}

.product-price {
  font-size: 1.5rem;
  max-width: 20rem;
  margin-bottom: 2rem;
}

/* IPHONE */

.iphone-container {
  position: relative;
  background-color: rgba(212, 212, 212, 0.2);
  width: 90%;
  margin: 0 auto;
  border-radius: 1rem;
  height: 50rem;
  overflow: hidden;
}

.iphone-product {
  width: 100%;
  height: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: transform .3s ease-in-out;
}

.left-arrow,.right-arrow {
  color: #0cb2bc;
  font-size: 3rem;
  position: absolute;
  margin-top: 20rem;
  z-index: 1;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.left-arrow:hover,
.right-arrow:hover {
  color: #0a979e;
}

.left-arrow {
  left: 5rem;
}
.right-arrow {
  right: 5rem;
}

.iphone-product .iphone-img {
  width: 60%;
}

.iphone-title {
  margin-top: 2rem;
  font-size: 3rem;
  color: #313131;
}

.iphone-subtitle {
  font-size: 1.7rem;
}
